<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/**/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error { border-color: red; background-color: #fee }
    </style>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div class="navbar navbar-dark bg-primary" role="navigation">
        <a class="col-1 navbar-brand" href="#">Admin panel - @ViewBag.Title</a>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="m-1 alert alert-success">@TempData["message"]</div>
    }
    <div class="m-1">
        @RenderBody()
    </div>
</body>
</html>
